
nav{
    width: 100%;
    cursor: pointer;
    background-color: #ddd;
    margin: auto;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
   z-index: 100;
   
 
    border-bottom: 2px  solid #776969;
  
}
.main{
    width: 90%;
    margin: auto;
    position: sticky;
    top: 0%;
    height: 50px;
   
    display: flex;
    
    flex-wrap: wrap;
}
.main #collection{
    display: flex;
    position: sticky;
   margin-top: 5px;
    flex-wrap: wrap;
    
}

.main #collection img{
    height: 50px;
   /*  margin-top: 5%; */
    width: 50px;
}
.main div{
    padding: 5px;
   
    margin: auto;

}
.main #login li{
    color: black;
    text-decoration: none;
    list-style-type: none;
}
#login a{
    padding: 10px;
    margin-top: 14px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.main p{
    font-size: 15px;
    
}
.main input{
    width: 100%;
    margin-top: 4%;
    padding: 10px;
   
    border-radius: 20px;
}
.main #login{
    display: flex;
}
.main #login p{
    padding: 10px;
}
.navigation{
    width: 100%;
    overflow: hidden;
    display: block;
    padding-bottom: 10px;
    height: 50px;
  
    margin: auto;
}
.navigation div{
  width: 50%;
  display: flex;
 
  margin: auto;
}
.navigation p{
    padding: 10px;
}
.navigation li{
    text-decoration: none;
    color: black;
    list-style-type: none;
    border-radius: 25px;
    float: left;
    margin-right: 25px;
   
}
.navigation p:hover{
    padding: 5px;
    color:white;
    border-radius: 25px;
    background-color: black;
    border-bottom: 2px solid black;
}